<header class="header" [ngClass]="{ 'nav-open': isNavLinkOpen }">
  <div class="header-div">
    <img src="../../assets/images/logo.png" class="logo" alt="" />
    <p class="header-title">
      Corner <span class="header-title-color">Store</span>
    </p>
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-link">Section 1</li>
      <li class="main-nav-link">Section 2</li>
      <li class="main-nav-link">Section 3</li>
      <li class="main-nav-link">Section 4</li>
      <li class="main-nav-link">Section 5</li>
    </ul>
  </nav>

  <button class="btn-mobile-nav" (click)="toggleNavLink()">
    <i class="fa-solid fa-bars icon-mobile-nav" name="menu-outline"></i>
    <i class="fa-solid fa-xmark icon-mobile-nav" name="close-outline"></i>
  </button>
</header>

<app-hero-section></app-hero-section>
