<!-- <section class="section-journey">
  <div class="journey">
    <div class="journey-text-box">
      <h2 class="journey-title">Start your Journey as Influencer</h2>
      <p class="journey-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem vestibulum
        sed scelerisque eros. Lectus faucibus.
      </p>
      <a href="#" class="btn-journey"
        >Preebook now
        <i class="fa-solid fa-arrow-right journey-icon"></i>
      </a>
    </div>
    <div class="journey-img-box">
      <img
        class="journey-img"
        src="../../assets/images/main-camera.png"
        alt="A Camera"
      />
    </div>
  </div>
</section> -->

<header class="header">
  <div class="header-content">
    <h2 class="header-title">The Corner Store</h2>
    <p class="header-description">
      Your friendly neighborhood store for all your everyday needs
    </p>
    <button class="btn-primary btn-div">
      Buy Now

      <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i>
    </button>
  </div>
</header>
